/* Polices*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    

                                            /* Taille des photos*/

.photoactivité1
{
    max-height: 200px;
    max-width: 150px; 
}
.photoactivité2
{
    max-height: 99px;
    max-width: 150px; 
}


                                            /*Général*/
.Gridmain 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 15% 30% 40% 10%;

}

                    body
                    {
                        font-family: "Raleway", "Sans serif";   
                        display: block;
                        width: 1440px;
                        margin-left: 9%;
                        margin-right: 9%;

                    }

                    h2
                    {
                        padding-left: 2%;
                    }    

                                            /*GRID 1*/

.Gridone
{
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 1;
}

/* Header*/ 

                    .Header 
                    {
                        float: left;
                        margin-top:1% ;
                    }


/*Menu*/

                    #Menu
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        padding-left: 60%;
                        margin-top: -1.8%;
                        font-weight: 500;
                    }
                    .MenuNavLink
                    {
                        text-decoration:none;
                        text-align: center;
                        color: #0065fc;
                        padding: 1%;
                        padding-top: 2em;
                        width: 100%;
                    }
                    .MenuNavLink:active
                    {
                        color: #DEEBFF;
                    }
                    .MenuNavLink:hover
                    {
                        border-top: 3px #0065fc solid;
                    }
                    .MenuNavLink:nth-child(1)
                    {
                        border-top:3px #0065fc solid;
                        order: 1;
                    }
                    .MenuNavLink:nth-child(2)
                    {
                        order: 2;
                        color: black;
                    }
                    .MenuNavLink:nth-child(2):hover
                    {
                        color: #0065fc;
                    }
                    .MenuNavLink:nth-child(2):active
                    {
                        color: #DEEBFF; 
                    }
                    .MenuNavLink:nth-child(3)
                    {
                        order: 3;
                    }
                    .MenuNavLink:nth-child(3):hover
                    {
                        color: #DEEBFF;
                        border-top: none;
                    }



                                            /*Grid 2*/



.Gridtwo
{
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 2;
}

/*Présentation*/
                    .TitreRecherche
                    {
                        font-size: 2em;
                        margin-top: 0.4em;
                    }
                    .TexteRecherche
                    {
                        margin-top: -1.2em;
                    }
                    
/* Barre de recherche */
                    
                    #BarreRecherche
                    {   
                    
                        margin-top: 1%;
                        margin-bottom: 2.5%;
                    }

                    .recherche 
                    {   
                         margin-top: -2.5em;  
                    }
                    .IcnSRC
                    {
                    
                        background-color: #F2F2F2;
                        padding: 1rem;
                        border-radius: 1em 0 0 1rem;
                        text-align: center;
                    }
                    .Rechercher
                    {
                        border-right: none;
                        border-left: none;
                        border-top: #F2F2F2 1px solid;
                        border-bottom: #F2F2F2 1px solid;
                        padding:  1rem ;
                        box-sizing: border-box;
                        width: 14rem;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .Button
                    {
                        background-color: #0065FC;
                        color: white;
                        font-weight: bold;
                        border: none;
                        border-radius: 0 1rem 1rem 0;
                        padding: 1rem;
                        font-size: 1rem;
                        cursor: pointer;
                    }                  
/*Filtres*/                 
                    #FlexFiltres
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 65%;
                        
                    }
                    
                    .FiltreDeco
                    {
                        color: #0065fc;
                        background-color: #DEEBFF;
                        border-radius: 50%;
                        height: 3rem;
                        width: 3rem;
                        min-height: 3.5rem;
                        min-width: 3.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: -2px;
                    
                    }
                    .Filtre
                    {
                        display: flex;
                        align-items: center;
                        border: 2px solid #d9d9d9;
                        border-radius: 2rem;
                        margin-bottom: 1rem;
                        cursor: pointer;
                    }
                    .Motsclefs
                    {
                        padding:1rem ;
                        font-weight: bold;
                    }
                    
                    .LogoInfo
                    {
                        color: #0065fc;
                        background-color: ;
                        border: 1px #d9d9d9 solid;
                        border-radius: 50%;
                        height: 1.75rem;
                        width: 1.75rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .TextInfo
                    {
                        display: flex;
                        width: 31%;
                        justify-content: space-between;
                        align-items: center;
                    
                    }
.Gridthree
{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    margin-top: -3%;
}
/* Zone Hébergement*/
                    .Bulle
                    {
                        height: 200px;
                        width: 255px;
                    }
                    #Résultats
                    {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 2fr 3fr;
                        grid-column-gap: 2rem;
                        grid-row-gap: 2rem;
                        width: 88%;
                        height: 82%;
                        background-color: #F2F2F2;
                        border-radius: 1.5rem;
                        padding-left: 1.5rem;
                        padding-bottom: 6.35rem;
                    

                    }      
                    .HouseTitle
                    {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                    .Result-col1-row2
                    {
                        grid-column-start: 1;
                        grid-row-start: 2;
                    
                        background-color: white;

                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                       
                    }
                
                    
                    .Result-col2-row2
                    {
                        grid-column-start: 2;
                        grid-row-start: 2;
                    
                        background-color: white;

                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    .Result-col3-row2
                    {
                        grid-column-start: 3;
                        grid-row-start: 2;
                    
                        background-color: white;

                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    .Result-col1-row3
                    {
                        grid-column-start: 1;
                        grid-row-start: 3;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    .Result-col2-row3
                    {
                        grid-column-start: 2;
                        grid-row-start: 3;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    .Result-col3-row3
                    {
                        grid-column-start: 3;
                        grid-row-start: 3;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    
                    
                    .photohebergement
                    {
                        background-color: white;
                        padding: 0.300rem;
                        border-top-left-radius: 1.5em;
                        border-top-right-radius: 1.5em;
                        box-sizing: border-box;
                        width: 100%;
                        object-fit: cover;
                        height: 58%;
                    
                    }
                    
                    .descr
                    {
                        padding-left: 2%;
                    }
                    .Lieu
                    {
                        font-weight: bold;
                    }
                    .Prix
                    {
                        font-weight: bold;
                    }
                    .Notepos
                    {
                        color: #0065fc;
                    }
                    .Noteneg
                    {
                        color: #d9d9d9;
                    }

                    .More 
                    {
                        grid-row-start: 4;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                    .More:visited
                    {
                        display: none;
                    }
                    .More:hover
                    {
                        color: #565656;   
                    }
.Gridfour
{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    margin-left: 20%;
    padding-right: 12%;
    margin-top: -8%;

}

/* Catégorie populaire*/


                    .ICNtend
                    {
                    margin: 18%;

                    }
                    .Titlepop
                    {
                        padding-left: 7%;
                    }

                    .pop
                    {
                        height: 140px;
                        width: 384px;
                        margin-left: 8%;
                        
                        
                    }
                    #Populaire
                    {
                        display: grid;
                        grid-row-gap: 2rem;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 3fr 3fr 3fr;
                        background-color: #F2F2F2;
                        border-radius: 1.5rem;
                        height: 95.1%;
                        width: 112%;
                        margin-top: 4.4%;
                        margin-left: -1%;
                        
                    }
                    .Popresult-1
                    {
                    
                        
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                    }
                    .Popresult-2
                    {

                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                    }
                    .Popresult-3
                    {
                        grid-row: ;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                    }
                    .photohepopulaire
                    {
                        float: left;
                        background-color: white;
                        padding: 0.300rem;
                        border-top-left-radius: 1.5em;
                        border-bottom-left-radius: 1.5em;
                        box-sizing: border-box;
                        width: 37%;
                        height: inherit;
                        object-fit: cover;
                    }
                        
                    }
                    .descrpop
                    {
                        text-align: center;
                    }
.Gridfive
{
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 4;

}
                    #Activity
                    {
                        display: grid;
                        grid-template-columns: repeat(8 1fr);
                        grid-template-rows: 1fr 1fr 1fr;
                    }
                    .ActivityDescr
                    {
                        font-weight: bold;
                    }

                    .photoactivité1
                    {

                    }
                    .photoactivité2
                    {

                    }
                    .ActivityPIC1
                    {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 4;
                        background-color: white;
                        padding: 0.375rem;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC2
                    {
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        background-color: white;
                        padding: 0.375rem;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC3
                    {
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 3;
                        grid-row-end: 4;
                        background-color: white;
                        padding: 0.375rem;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC4
                    {
                        grid-column-start: 5;
                        grid-column-end: 7;
                        grid-row-start: 1;
                        grid-row-end: 4;
                        background-color: white;
                        padding: 0.375rem;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    
                    .ActivityPIC5
                    {
                        grid-column-start: 7;
                        grid-column-end: 9;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        background-color: white;
                        padding: 0.375rem;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC6
                    {
                        grid-column-start: 7;
                        grid-column-end: 9;
                        grid-row-start: 3;
                        grid-row-end: 4;
                        background-color: white;
                        padding: 0.375rem;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }

.Gridsix
{
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 5;
grid-row-end: 8;
background-color: #F2F2F2;
}

                    .About
                    {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        justify-content: space-between;
                        align-items: center;
                        width: 80%;
                    }
                    .aboutDisp
                    {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: flex-start;
                        justify-content: flex-start;
                        align-items: center;
                    }



                                                /*Géneral*/
