/* Polices*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    


                                          /*Général*/

.Gridmain 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6em 20em 40em 30em 15em;
    margin-left: 10%;
    margin-right: 10%;
}

                    body
                    {
                        font-family: "Raleway", "Sans serif";   
                        display: block;
                    }

                    ul
                    {
                        list-style-type: none;
                    }

                .Image:hover
                {
                    transform:scale(1.05);
                    transition-duration: 0.2s;
                    cursor: pointer;
                }
 
                                            /*GRID 1*/

.Gridone
{
    grid-area: 1 / 1 / 2 / 8;
}

/* Header*/ 

                    .Header 
                    {
                        float: left;
                        width: 150px;
                    }


/*Menu*/

               #Menu
                {
                    font-weight: 600;
      
                }
                    .Main
                    {
          
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: baseline;
                        justify-content: space-evenly;
                        padding-left: 59%;
                        padding-right: 8%;
                        margin-top: -1.7%;
                        align-content: stretch;

                    }
                    
                    .HostingNav
                    {
                        color: #0065FC;
                        border-top: 3px solid #0065FC;
                        padding: 5%;
                        margin-top: -0.4%;
                        text-decoration: none;
                    }
                    .HostingNav:hover
    
                    {
                        border-top: 3px solid #0065FC;
                        padding: 5%;
                        margin-top: -0.4%;

                        cursor: pointer;
                    }

    
                    .ActivityNav
                    {
                        padding: 5%;
                        color: black;
                        text-decoration: none;

                    }
                    .ActivityNav:hover
                    {
                         
                        color: #0065FC;
                        border-top: 3px solid #0065FC;
                        padding: 5%;
                        margin-top: -1.7%;

                        cursor: pointer;       

                    }
                    .Sub
                    {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: flex-end;
                        justify-content: center;
                        float: right;
                        margin-right: 2%;
                        margin-top: -2.75%;

                    }
              
                .Sublink
                {
                    padding: 5%;
                    margin-right: 2%;
                    margin-top: -2.75%;
                    text-decoration: none;
                }    
                .Sublink:hover
                {              
                    color: #0065FC;
                    color: #dfecff;
                    padding: 5%;
                    margin-right: 2%;
                    margin-top: -1.7%;
                    cursor: pointer;
                }
                .Sublink:visited
                {              
                    color: #0065FC;
     

                }
                    
                                            /*Grid 2*/



.Gridtwo
{
    grid-area: 2 / 1 / 3 / 8;
}

/*Présentation*/
                    .TitreRecherche
                    {
                        font-size: 2em;
                        margin-top: 0.4em;
                    }
                    .TexteRecherche
                    {
                        margin-top: -1.2em;
                    }
                    
/* Barre de recherche */
                    
                    #BarreRecherche
                    {   
                    
                        margin-top: 1%;
                        margin-bottom: 2.5%;
                    }
                    .FlexButton
                    {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-content: stretch;
                        justify-content: flex-start;
                        align-items: baseline;
                    }
                    .recherche 
                    {   
                         margin-top: -2.5em;  
                    }
                    .IcnSRC
                    {
                    
                        background-color: #F2F2F2;

                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-top: 1.06rem;
                        padding-bottom: 1.03rem;
                        border-radius: 1em 0 0 1rem;
                        text-align: center;
                    }
                    .Rechercher
                    {
                        border-right: none;
                        border-left: none;
                        border-top: #F2F2F2 1px solid;
                        border-bottom: #F2F2F2 1px solid;
                        padding:  1rem ;
                        box-sizing: border-box;
                        width: 14rem;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .SecondSearchButton
                    {
                        background-color: #0065FC;
                        color: white;
                        font-weight: bold;
                        border: none;
                        border-radius: 0 1rem 1rem 0;
                        padding-top: 1.05rem;
                        padding-bottom: 1.04rem;
                        font-size: 1rem;
                        cursor: pointer;
                        display: none;
                    }
                    .Button
                    {
                        background-color: #0065FC;
                        color: white;
                        font-weight: bold;
                        border: none;
                        border-radius: 0 1rem 1rem 0;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-top: 1.06rem;
                        padding-bottom: 1.04rem;
                        font-size: 1rem;
                        cursor: pointer;
                    }                  
/*Filtres*/                 
                    #FlexFiltres
                    {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: flex-start;
                        justify-content: space-around;
                        align-items: baseline;
                        width: 60%;
                        
                    }
                    
                    .FiltreDeco
                    {
                        color: #0065fc;
                        background-color: #DEEBFF;
                        border-radius: 50%;
                        height: 3rem;
                        width: 3rem;
                        min-height: 3.5rem;
                        min-width: 3.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: -2px;
                    
                    }
                    .Filtre
                    {
                        display: flex;
                        align-items: center;
                        border: 2px solid #d9d9d9;
                        border-radius: 2rem;
                        margin-bottom: 1rem;
                        
                    }
                    .Filtre:hover
                    {
                        transform:scale(1.05);
                        transition-duration: 0.2s;
                        cursor: pointer;
                    }
                    .Motsclefs
                    {
                        padding:1rem ;
                        font-weight: bold;
                    }
                    
                    .LogoInfo
                    {
                        color: #0065fc;
                        background-color: ;
                        border: 1px #d9d9d9 solid;
                        border-radius: 50%;
                        height: 1.75rem;
                        width: 1.75rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .TextInfo
                    {
                        display: flex;
                        width: 30%;
                        justify-content: space-evenly;
                        align-items: baseline;
                        flex-wrap: wrap;
                        flex-direction: row;
}
.Gridthree {
grid-area: 3/ 1 / 4 / 5;
}
/* Zone Hébergement*/
                    .Bulle
                    {
                        height: 200px;
                        width: 255px;
                    }
                    #Résultats
                    {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 2fr 3fr;
                        grid-column-gap: 0rem;
                        grid-row-gap: 2rem;
                        height: 81%;
                        background-color: #F2F2F2;
                        border-radius: 1.5rem;
                        padding-left: 2.5rem;
                        padding-bottom: 6.35rem;
                        width: 104.5%;
                    }    
                    .HouseTitle
                    {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                    .Result-col1-row2
                    {
                        grid-column-start: 1;
                        grid-row-start: 2;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;        
                    }
                
                    
                    .Result-col2-row2
                    {
                        grid-column-start: 2;
                        grid-row-start: 2;
                    
                        background-color: white;

                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    .Result-col3-row2
                    {
                        grid-column-start: 3;
                        grid-row-start: 2;
                    
                        background-color: white;

                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    .Result-col1-row3
                    {
                        grid-column-start: 1;
                        grid-row-start: 3;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    .Result-col2-row3
                    {
                        grid-column-start: 2;
                        grid-row-start: 3;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    .Result-col3-row3
                    {
                        grid-column-start: 3;
                        grid-row-start: 3;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;

                        
                    }
                    
                    
                    
                    .photohebergement
                    {
                        background-color: white;
                        padding: 0.300rem;
                        border-top-left-radius: 1.5em;
                        border-top-right-radius: 1.5em;
                        box-sizing: border-box;
                        width: 100%;
                        object-fit: cover;
                        height: 58%;
                    
                    }
                    
                    .descresult
                    {
                        padding-left: 5%;
                        margin-top: 0%;
                    }

                  
                    .Lieu
                    {
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                    .Prix
                    {
                        font-weight: bold;
                    }

                    .Notepos
                    {
                        color: #0065fc;
                    }
                    .Noteneg
                    {
                        color: #d9d9d9;
                    }

                    .More 
                    {
                        grid-row-start: 4;
                        font-weight: 700;
                        color: black;
                        text-decoration: none;
                    }
                    .More:visited
                    {
                        display: none;
                    }
                    .More:hover
                    {
                        color: #565656;   
                    }
.Gridfour {
grid-area: 3 / 6 / 4 / 8;
}


            #Populaire {
                display: grid;
                grid-row-gap: 2rem;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 3fr 3fr 3fr;
                background-color: #F2F2F2;
                border-radius: 1.5rem;
                height: 97%;
                width: 119%;
                margin-left: -19%;
                        }
                    .ICNtend
                    {
                        padding-left: 23%;

                    }
                    .Titlepop
                    {
                        padding-left: 7%;
                    }
                    .descrpop
                    {

                    }
                    .pop
                    {
                        height: 140px;
                        width: 384px;
                        margin-left: 8%;   
                    }
                    .NotePop
                    {
                        margin-top: 11%;
                    }
                    .NotePop2
                    {
                        margin-top: 7%;
                    }

                    .Popresult-1
                    {
                    
                        
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        width: 90%;
                        margin-left: 5%;
                    }
                    .Popresult-2
                    {

                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        width: 90%;
                        margin-left: 5%;
                    }
                    .Popresult-3
                    {
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        width: 90%;
                        margin-left: 5%;
                    }
                    .photohepopulaire
                    {
                        float: left;
                        background-color: white;
                        padding: 0.300rem;
                        border-top-left-radius: 1.5em;
                        border-bottom-left-radius: 1.5em;
                        box-sizing: border-box;
                        width: 33%;
                        height: inherit;
                        object-fit: cover;
                    }
                        
                
                    .descrpop
                    {
                        text-align: center;
                    }
.Gridfive
{

    grid-area: 4 / 1 / 6 / 8;

}
                    #Activity
                    {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-template-rows: 2fr;
                        grid-column-gap: 2em;
                        grid-row-gap: 1em;
                        width: 100%;
                    }
                    .ActivityDescr
                    {
                        font-weight: bold;
                        font-size: 1.1em;
                        padding-left: 4%;
                    }

                    .photoactivité1
                    {
                        height: 496px;
                        width: 357px;
                        border-top-left-radius: 1.25em;
                        border-top-right-radius: 1.25rem;
                        object-fit: cover;
                    }
                    .photoactivité2
                    {
                        height: 204px;
                        width: 357px;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        object-fit: cover;
                    
                    }
                    .ActivityPIC1
                    {
                        
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 4;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC2
                    {
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 1;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC3
                    {
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 3;
                        grid-row-end: 4;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC4
                    {
                        grid-column-start: 5;
                        grid-column-end: 7;
                        grid-row-start: 1;
                        grid-row-end: 4;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    
                    .ActivityPIC5
                    {
                        grid-column-start: 7;
                        grid-column-end: 9;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }
                    .ActivityPIC6
                    {
                        grid-column-start: 7;
                        grid-column-end: 9;
                        grid-row-start: 3;
                        grid-row-end: 4;
                        background-color: white;
                        border-radius: 1.25rem;
                        box-shadow: 0 0 16px #0000002e;
                        box-sizing: border-box;
                        height: 100%;
                    }



footer{
background-color: #F2F2F2;
}
                    .About
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: baseline;
                        align-content: stretch;
                        width: 90%;
                    }        
                    
                    .aboutDisp
                    {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: flex-start;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    li:hover
                    {
                        cursor: pointer;
                        transform:scale(1.05);
                    }
                    .List1
                    {
                        margin-left: -16%;
                        white-space: pre-line;
                    }
                    .List2
                    {
                        margin-left: -20%;
                        white-space: pre-line;
                    }
                    .List3
                    {
                        margin-left: -26%;
                        white-space: pre-line;
                    }


             
                



                                                /*Media Queries Desktop*/

@media screen and (max-width: 1680px)
{
    .Gridmain {

        margin-left: 9%;
        margin-right: 9%;
    }
    .Main {
        padding-left: 17%;
        padding-right: 20%;
        margin-top: 0%;

    }
    .Sub {
        margin-right: 5%;
        margin-top: -7%;
    }
    
    #Menu {
        padding-left: 60%;
        margin-top: -1.9%;
    }

    #FlexFiltres {
        width: 65%;
    }

    .TextInfo {
        width: 33%;
    }
    #Résultats {
        width: 100%;
        padding-right: 1.1rem;
    }
    #Populaire {
        width: 115%;
        margin-left: -15%;
    }
    

    .NotePop {
        margin-top: 13.5%;
    }
    .NotePop2 {
        margin-top: 8.5%;
    }
    .photoactivité1 {
        width: 317px;

    }
.photoactivité2 {
    width: 317px;
}


}


@media screen and (max-width: 1440px)
{

    .Gridmain {
        margin-left: 5%;
        margin-right: 5%;
    }
#Menu 
{
    margin-top: -2.1%;
}

#FlexFiltres 
{
    width: 70%;
}

.TextInfo 
{
    width: 35%;
}
#Résultats {
    padding-left: 1.5rem;

}
#Populaire {
    width: 113%;
    margin-left: -13%;
}
#Activity {
    width: 101%;
}
.photoactivité1 
{
    width: 300px;
}
.photoactivité2
{
    width: 300px;
}
}

@media screen and (max-width: 1280px)
{
    .Gridmain {
        margin-left: 2%;
        margin-right: 2%;
    }
    .Main {
        margin-top: 0.5%;
    }
    .Sub {
        margin-right: 2%;
        margin-top: -7.8%;
    }
    #Menu {
        margin-top: -2.3%;
        padding-left: 64%;
    }

    #FlexFiltres {
        width: 72%;
    }
    .TextInfo {
        width: 38%;
    }
    #Résultats {
        width: 100%;
        padding-left: 2rem ;
    }
    .Bulle {
        height: 190px;
        width: 228px;
    }
    #Populaire {
        width: 115%;
        margin-left: -15%;
        height: 97%;
    }
    #Activity {
        width: 100%;
    }
    .photoactivité1 {
        width: 279px;
    }
    .photoactivité2 {
        width: 279px;
    }
    
}





                                                /*Media Queries Mobile*/
@media screen and (max-width: 375px)
                                            
{
    .Gridmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: unset;
        margin-right: unset;
        grid-template-rows: 0.5fr 3fr 4fr;
    }
    .Gridone {
        grid-area: 1 / 1 / 2 /3;
    }
    .Header
    {
        padding-left: 10%;
        width: 100px;
        padding-top: 5%;
    }

    #Menu {
        padding-top: 17.7%;
        padding-left: 34%;
        padding-right: 4%;
    }

.Main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 45.5%;
    margin-left: -70%;
    align-content: baseline;
    border-bottom: 6px black;
    padding-left: 19%;
    padding-right: 15%;
}

.Sub {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    float: right;
    margin-top: -87.8%;
    margin-right: 11%;
}

    .HostingNav {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding: 5%;
        margin-top: -0.4%;
        text-decoration: none;
    }
    .ActivityNav {
        border-bottom: 3px solid #f2f2f2;
        padding: 5%;
        color: black;
        text-decoration: none;
        margin-left: 29%;
    }

    .ActivityNav:hover
    {
         
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding: 5%;
        margin-left: 29%;
        cursor: pointer;   

    }

    .HostingNav:hover
    
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding: 5%;
        margin-top: -0.4%;
        cursor: pointer;
    }

    .Gridtwo {
        grid-area: 2 / 1 / 3 / 3;
        margin-top: 35%;
    }
    .recherche {
        margin-top: 0em;
    }
    .SecondSearchButton
    {
        display: block;
        padding-top: 1.05rem;
        padding-bottom: 1.04rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .Button
    {

        display: none;
    }   
    .Gridfour {
        grid-area: 3/ 1 / 4 / 3;
        width: 100%;
    }

    #Populaire {

        display: grid;
        grid-row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        background-color: #F2F2F2;
        border-radius: 1.5rem;
        height: 60%;
        width: 100%;
        margin-left: 0%;
    
    }

    .Gridthree {
        grid-area: 8/ 1 / 10/ 3;
    }

    #Résultats {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
        grid-column-gap: 0rem;
        grid-row-gap: 1rem;
        height: 81%;
        border-radius: 1.5rem;
        padding-left: 0rem;
        padding-bottom: 0rem;
        width: 100%;
        padding-right: 0rem;
    }

    .Result-col1-row2 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .Result-col2-row2 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .Result-col3-row2 {
        grid-column-start: 1;
        grid-row-start: 4;

    }
    .Result-col1-row3 {
        grid-column-start: 1;
        grid-row-start: 5;
    }
    .Result-col2-row3 {
        grid-column-start: 1;
        grid-row-start: 6;
    }
    .Result-col3-row3 {
        grid-column-start: 1;
        grid-row-start: 7;
    }
    .More
    {
        grid-row-start: 9;
    }

    .Gridfive {
        grid-area: 12 / 1 / 15 / 3;
    }

    #Activity {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 1em;
        width: 100%;
    }

    .ActivityPIC1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .ActivityPIC2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    .ActivityPIC3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .ActivityPIC4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .ActivityPIC5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .ActivityPIC6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}